package view

templ HomePage(title string) {
	<h1>Welcome to the Home Page</h1>
	<p>This is the main content of the home page.</p>
	<p>This is the main content of the home page.</p>
	<div class="text-yellow-500 p-5 mt-5">
		testing
	</div>
}
