package layouts

import (
	"github.com/minhtranin/ct/internal/view/shared/inputotp"
	"github.com/minhtranin/ct/internal/view/shared/toast"
)

templ Base(title string, c templ.Component) {
	<!DOCTYPE html>
	<html>
		<head>
			<title>{ title }</title>
			<link rel="stylesheet" href="/static/output.css"/>
			<script src="/static/htmx.min.js" defer></script>
			@inputotp.Script()
			@toast.Script()
		</head>
		<body>
			@c
		</body>
	</html>
}
